{% for aboutText in craft.entries.section('about') %}
  <div class="map-panel">
    <div class="map-text">
      <div class="map-text-header">
        {{ aboutText.mapTitle }}
      </div>
        <div class="map-text-body">
        {{ aboutText.mapText }}
      </div>
    </div>
    <div class="map-module" data="{{ aboutText.mapExternalUrl }}">
<div class="open">
  open
</div>
      {{ aboutText.mapEmbedCode|raw }}
    </div>

  <div class="map-text-body-mobile">
      <div class="map-text-body-mobile-text">
      {{ aboutText.mapText }}
    </div>
  </div>

  </div>
  {% endfor %}
