<div class="line-modal" style="display: none;">



<div class="video-background">
    <div class="video-foreground">
      {% for text in craft.entries.section('globals') %}
        {{ text.lineCameraEmbedCode|raw }}
      {% endfor %}
    </div>
  </div>

<button class="close">close</button></div>

<nav class="mamnoon-nav" id="nav" style="">
  <ul class="main-nav">


<li>
  {% if craft.request.isMobileBrowser %}
<!--<h1>mobile</h1>-->
    {% else %}
<!--<h1>not mobile</h1>-->
    {% endif %}


</li>




  <li>

   <!-- replace when online ordering is ready -->
      <!-- <a href="/#menu">menu / </a> -->
      <a href="#menu" class="menu">menu / </a>
    </li>

  <li>
       <!-- replace when online ordering is ready -->
      <!-- <a href="https://app.upserve.com/s/mamnoon-street-seattle" target="_blank">order</a> -->
      <a href="#menu" class="menu">order</a>
    </li>

    <li>
      &nbsp;&nbsp;&nbsp;<a class="about" href="#aboutcontainer">about</a>
    </li>
<li>





	<!-- Modal -->
	<div id="modal" class="modal hide">


<p class="modal-text" style="color: #000;line-height: 28px;margin-top: 30px;">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
      </p>

<!-- <form action="http://myaccount.createsend.com/t/r/s/aljhk/" method="post" id="subForm"> -->

		<!-- <form action="//mamnoonrestaurant.createsend.com/t/i/s/adrkjh/" method="post" id="subFormx" > -->
{# {{ getCsrfInput() }} #}
      <!-- <a class="close" href="javascript://" data-dismiss="modal"> -->
        <!-- <img src="assets/img/close-up-modal-red.svg" style="width: 27px;height: 27px;"></a> -->
			<!-- <input type="text" name="cm-name" placeholder="name" /> -->
			<!-- <input type="email" spellcheck="false" name="cm-adrkjh-adrkjh" id="email" placeholder="email" /> -->
			<!-- <button class="submit" type="submit" value="Subscribe">Subscribe</button> -->


      <!-- <button id="button" type="button" value="send" class="btn btn-primary">Submit</button> -->



      <!-- <div id="response">Thanks! You're subscribed</div> -->
		<!-- </form> -->







    <form action="https://mamnoonrestaurant.createsend.com/t/i/s/adrkjh/" method="post" id="subForm">
      <a class="close" href="javascript://" data-dismiss="modal">
        <img src="assets/img/close-up-modal-red.svg" style="width: 27px;height: 27px;"></a>

            <input placeholder="name" type="text" name="cm-name" id="name" /><br />
        <input placeholder="email" type="text" name="cm-adrkjh-adrkjh" id="adrkjh-adrkjh" /><br />
            <!-- <input type="submit" value="Subscribe" /> -->

            <!-- <button id="button" type="submit" value="Subscribe" class="btn btn-primary">Subscribe</button> -->


            <button class="submit" type="submit" value="Subscribe">Subscribe</button>


    </form>
    <div class="thankyou">thank you!</div>
<div class="error">invalid</div>
    <!-- 2. Add some JavaScript -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#subForm').submit(function (e) {
                e.preventDefault();
                $.getJSON(
                this.action + "?callback=?",
                $(this).serialize(),
                function (data) {
                    if (data.Status === 400) {
                        // alert("Error: " + data.Message);


                        $('#modal .error').slideDown();

                        $('#modal .error').delay( 800 ).fadeOut();

                    } else { // 200
                        $('#modal .thankyou').slideDown().delay( 2000 ).fadeOut();
                        $('#modal').delay( 800 ).fadeOut();

$('#adrkjh-adrkjh, #name').val('');

                    }
                });
            });
        });


    </script>




	</div>






</li>




    </ul>

  {% include "parts/social" %}


           {% if entry.section == "Homepage" %}

    {% endif %}
</nav>
{% include "parts/mobile-nav" %}

















<!-- matrix -->
<!-- matrix -->
<!-- matrix -->


<div style="display:none;">


{% for entry in craft.entries.section('globals') %}
{% for block in entry.landingPageTextMarquee %}
<div class="phrase-list">
  {% if block.type == 'singleLinePhrase' %}
  <div class="phrase">{{ block.phrase|raw }}</div>
  {% elseif block.type == 'twoLinePhrase' %}
  <div class="phrase">{{ block.phraseLineOne|raw }} {{ block.phraseLineTwo|raw }}</div>
  {% endif %}

</div>
{% endfor %}
{% endfor %}

</div>



<!-- matrix -->
<!-- matrix -->
<!-- matrix -->
