<div class="line-modal" style="display: none;">



<div class="video-background">
    <div class="video-foreground">
      {% for text in craft.entries.section('globals') %}
        {{ text.lineCameraEmbedCode|raw }}
      {% endfor %}
    </div>
  </div>

<button class="close">close</button></div>

<nav class="mamnoon-nav" id="nav" style="">
  <ul class="main-nav">


<li>
  {% if craft.request.isMobileBrowser %}
<!--<h1>mobile</h1>-->
    {% else %}
<!--<h1>not mobile</h1>-->
    {% endif %}


</li>




  <li>

   <!-- replace when online ordering is ready -->
      <!-- <a href="/#menu">menu / </a> -->
      <a href="#menu" class="menu">menu / </a>
    </li>

  <li>
       <!-- replace when online ordering is ready -->
      <!-- <a href="https://app.upserve.com/s/mamnoon-street-seattle" target="_blank">order</a> -->
      <a href="#menu" class="menu">order</a>
    </li>

    <li>
      &nbsp;&nbsp;&nbsp;<a class="about" href="#aboutcontainer">about</a>
    </li>
<li>





	<!-- Modal -->
	<div id="modal" class="modal hide">


<p class="modal-text" style="color: #000;line-height: 28px;margin-top: 30px;">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
      </p>

<!-- <form action="http://myaccount.createsend.com/t/r/s/aljhk/" method="post" id="subForm"> -->

		<form action="https://mamnoonrestaurant.createsend.com/t/i/s/adrkjh/" method="post" id="subForm">
{{ getCsrfInput() }}
      <a class="close" href="javascript://" data-dismiss="modal">
        <img src="assets/img/close-up-modal-red.svg" style="width: 27px;height: 27px;"></a>
			<input type="text" name="cm-name" placeholder="name" />
			<input type="email" spellcheck="false" name="cm-adrkjh-adrkjh" id="email" placeholder="email" />
			<button class="submit" type="submit" value="Subscribe">Subscribe</button>
			<div id="response">Thanks! You're subscribed</div>
		</form>



	</div>






</li>




    </ul>

  {% include "parts/social" %}


           {% if entry.section == "Homepage" %}

    {% endif %}
</nav>
{% include "parts/mobile-nav" %}

















<!-- matrix -->
<!-- matrix -->
<!-- matrix -->


<div style="display:none;">


{% for entry in craft.entries.section('globals') %}
{% for block in entry.landingPageTextMarquee %}
<div class="phrase-list">
  {% if block.type == 'singleLinePhrase' %}
  <div class="phrase">{{ block.phrase|raw }}</div>
  {% elseif block.type == 'twoLinePhrase' %}
  <div class="phrase">{{ block.phraseLineOne|raw }} {{ block.phraseLineTwo|raw }}</div>
  {% endif %}

</div>
{% endfor %}
{% endfor %}

</div>



<!-- matrix -->
<!-- matrix -->
<!-- matrix -->
