{% for block in aboutText.videoSlideShow %}

    {% if block.type == "slide" %}


{% if loop.index == 1 %}
<div class="videoWrapper">
  <!-- <iframe id="id{{ loop.index }}" style="" width="100%" height="370px" src="https://www.youtube.com/embed/{{block.slideUrl}}" frameborder="0" allowfullscreen></iframe></div> -->
  <iframe id="id{{ loop.index }}" src="https://player.vimeo.com/video/{{block.slideUrl}}?title=0&byline=0&portrait=0" width="100%" height="370px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
{% else %}
<div class="videoWrapper" style="display:none;">
  <!-- <iframe id="id{{ loop.index }}" style="display:none;" width="100%" height="370px" src="https://www.youtube.com/embed/{{block.slideUrl}}" frameborder="0" allowfullscreen></iframe></div> -->
  <iframe id="id{{ loop.index }}" src="https://player.vimeo.com/video/{{block.slideUrl}}?title=0&byline=0&portrait=0" style="display:none;" width="100%" height="370px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

 {% endif %}

    {% endif %}

{% endfor %}




<div class="owl-carousel owl-theme" style="">
{% for block in aboutText.videoSlideShow %}



    {% if block.type == "slide" %}


<div class="item video-thumbnails" data="id{{ loop.index }}" style='background-image: url("{% for asset in block.slideImage %}{{ asset.url }}{% endfor %}");'>
</div>






    {% endif %}




{% endfor %}


</div>
